// Colors

$green: rgb(30, 215, 96);
$light-black: rgb(40, 40, 40);
$black: rgb(24, 24, 24);
$grey: rgb(170, 170, 170);
$sand: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
$blue: #4688d7;

// Spacing

$padding-xs  : 5px;
$padding-sm  : 10px;
$padding     : 15px;
$padding-lg  : 30px;
$padding-xl  : 60px;

$margin-xs  : 5px;
$margin-sm  : 10px;
$margin     : 15px;
$margin-lg  : 30px;
$margin-xl  : 60px;

// Borders

$border-radius: 15px;

// Font-sizes

$x-small: 11px;
$small: 14px;
$medium: 16px;
$large: 20px;
$x-large: 24px;
$xx-large: 36px;
$xxx-large: 52px;



// ===== Styles ==== //

body {
  background: $black;
  font-family: 'Roboto', sans-serif;
  
  a {
    color: $grey;
    
    &:hover {
      color: $sand;
    }
  }
  
}

.artist {
  
  height: 617px;
  overflow-y: scroll;
  
  &__header {
    
    & {
      height: 320px;
      border-bottom: 1px solid $light-black;
      position: relative;
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/spotify_img_bground.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      z-index: 1;
      
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;
    }
    
    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0.15;
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/g-eazy.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      
    }
    
    .artist__info {
      
      & {
        padding: $padding;
        z-index: 1;
        width: 80%;
        margin-top: $margin-xl * 1.3;

        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
      }
      
      .profile__img {
        
        margin-right: $margin;
        
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }
      
      &__type {
        color: $grey;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;
      }
      
      &__name {
        color: $white;
        font-size: $xx-large;
        font-weight: 100;
        padding: 0 0 $padding-sm 0;
      }
      
      &__actions {
        
        display: flex;
        flex-flow: row wrap;
        
        button {
          margin-right: $margin-sm;
          height: 27px;
          
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          padding: 0 $padding;
          font-weight: 500;
          
          i {
            font-size: $large;
            margin-right: $margin-xs;
          }
          
        }
        
        .more {
          width: 27px;
          height: 27px;
          border-radius: 50%;
          padding: 0;
          text-align: center;
          
          i {
            margin: 0;
            padding-left: 6px;
          }
        }
        
      }
      
    }
    
    .artist__listeners {
      width: 20%;
      z-index: 1;
      padding: $padding;
      text-align: right;
      color: $grey;
      font-weight: 100;
      font-size: 16px;
      letter-spacing: 1px;
      
      &__label {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
    
    .artist__navigation {
      
      & {
        width: 100%;
        z-index: 1;
        background: rgba( 24, 24, 24, .6);
        
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
      }
      
      ul {
        
        border: none;
        
        li {
          
          padding: 0 $padding;
          
          a {
            padding: $padding 0;
            color: $grey;
            border: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all 0.4s ease;
            border-bottom: 4px solid rgba(0, 0, 0, 0);
            
            &:hover {
              background: none;
              border: none;
              color: $white;
              transition: all 0.4s ease;
              border-bottom: 4px solid rgba(0, 0, 0, 0);
            }
            
          }
          
          &.active {
            
            a {
              color: $white;
              background: none;
              border: none;
              border-bottom: 4px solid $green;
              
              &:hover {
                border-bottom: 4px solid $green;
              }
            }
            
          }
          
        }
        
      }     
    }
    
  }
  
  &.is-verified {
    
    .profile__img {
      
      position: relative;
      
      &:after {
        font-family: "Ionicons";
        content: "\f3fd";
        position: absolute;
        bottom: 5px;
        right: 25px;
        color: $white;
        background: $blue;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        font-size: 18px;
        line-height: 1;
      }
      
    }
    
  }
  
  &__content {
    
    & {
      padding: $padding;
    }
    
    .overview {
      
      display: flex;
      flex-flow: row wrap;
      
      &__artist {
        
        padding-right: $padding;
        width: 70%;
        
        .latest-release {
          margin-bottom: $margin-lg;
          
          display: flex;
          flex-flow: row wrap;
          
          &__art {
            
            width: 75px;
            
            img {
              width: 75px;
              height: 75px;
            }
            
          }
          
          &__song {
            
            width: calc( 100% - 75px );
            
            padding: $padding-sm $padding;
            background: $light-black;
            color: $grey;
            
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            
            &__title {
              color: $sand;
            }
            
          }
          
        }
        
      }
      
      &__related {
        width: 30%;
      }
      
      @media (max-width: 1024px) {
        
        &__artist {
          width: 100%;
        }
        
        &__related {
          width: 100%;
          margin-top: $margin;
        }
        
      }
      
      @media (max-width: 768px) {
        
        &__artist {
          padding-right: 0;
        }
        
      }
      
    }
    
  }
  
}

  @media (max-width: 768px) {
  
  .artist {
    overflow-y: auto;
  }
  
}

  @media (max-width: 522px) {
    
    .artist {
      
      &__header {
        height: auto;
        
        flex-flow: column wrap;
        
        .artist__info {
          
          & {
            margin-top: 0;
            width: 100%;
            
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            text-align: center;
          }
          
          .profile__img {
            margin-right: 0;
          }
          
          &__type {
            margin-top: $margin-sm;
          }
          
        }
        
        .artist__listeners {
          width: 100%;
          text-align: center;
        }
      }
      
    }
    
  }

.tracks {
  
  & {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: $margin;
  }
  
  &__heading {
    
    & {
      color: $grey;
      height: 42px;
      
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    
    &__number {
      margin-left: $margin-sm;
      font-style: italic;
    }
    
    &__title {
      margin-left: 70px;
      width: 45%;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    
    &__length {
      margin-left: auto;
      font-size: $large;
    }
    
    &__popularity {
      font-size: $large;
      margin-left: 55px;
      padding-right: $padding-sm;
    }
    
  }
  
  .track {
    
    & {
      border-top: 1px solid $light-black;
      height: 42px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    
    &:hover {
      background: $light-black;
    }
    
    &:last-child {
      border-bottom: 1px solid $light-black;
    }
    
    &__art {
      
      img {
        width: 42px;
        height: 42px;
      }
      
    }
    
    &__number {
      
      margin-left: $margin-sm;
      color: $grey;
      width: 12px;
      
    }
    
    &__added {
      
      margin-left: $margin * 2;
      color: $sand;
      
      .added {
        color: $sand;
      }
      
      .not-added {
        color: $grey;
      }
      
    }
    
    &__title {
      width: 45%;
      margin-left: $margin * 2;
      color: $white;
      
      &.featured {
        
        .title {
          
          &:after {
            /*content: "-";*/
            margin: 0 $margin-xs;
          }
          
        }
        
        .feature {
          color: $grey;
          
          &:after {
            content: ",";
            margin-right: $margin-xs;
          }
          
          &:last-child {
            
            &:after {
              content: "";
              margin-right: 0;
            }
            
          }

          &:hover {
            cursor: pointer;
            color: $sand;
            text-decoration: underline;
          }
          
        }
        
      }
      
      
    }
    
    &__explicit {
      
      .label {
        border: 1px;
        border-style: solid;
        border-color: lighten( $light-black , 10% );
        color: lighten( $light-black , 10% );
        text-transform: uppercase;
      }
      
    }
    
    &__plays {
      
      color: $grey;
      margin-left: auto;
      padding-right: $padding-sm;
      
    }
    
    &__length {
      margin-left: auto;
      color: $grey;
    }
    
    &__popularity {
      margin-left: 46px;
      padding-right: $padding-sm;
      font-size: $large;
      color: $grey;
    }
    
  }
  
}

  @media (max-width: 1200px) {
    
    .tracks {
      
      &__heading {
        
        &__title {
          width: auto;
        }
        
        &__popularity {
          display: none;
        }
        
      }
      
      .track {
        
        &__title {
          width: auto !important;
        }
        
        &__explicit {
          display: none;
        }
        
        &__popularity {
          display: none;
        }
        
      }
      
    }
    
  }

.overview {
  
  &__albums {
    
    width: 100%;
    margin-top: $margin-lg;
    
    &__head {
      
      & {
        border-bottom: 1px solid $light-black;
        margin-bottom: $margin-sm;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
      }
      
      .view-type {
        color: $white;
        margin-bottom: 4px;
        
        .active {
          background: $light-black;
          padding: 8px;
          border-radius: 50%;
          
          
        }
        
        i {
          padding: 8px;
          border-radius: 50%;
          
          &:hover {
            padding: 8px;
            border-radius: 50%;
            background: lighten( $light-black , 5% );
            cursor: pointer;
          }
        }
        
      }
      
    }
    
  }
  
}

.album {
  
  &__info {
    
    & {
      margin-bottom: $margin;
      
      display: flex;
      flex-flow: row wrap;
    }
    
    &__art {
      
      img {
        width: 135px;
        height: 135px;
      }
      
    }
    
    &__meta {
      
      & {
        width: calc( 100% - 150px);
        margin-left: $margin;
        
        display: flex;
        flex-flow: column wrap;
      }
      
      .album__year {
        color: $grey;
        letter-spacing: 1px;
      }
      
      .album__name {
        color: $white;
        font-size: $xx-large / 1.2;
        font-weight: 100;
      }
      
      .album__actions {
        margin-top: auto;
        
        .save {
          
          padding-left: $padding-lg;
          padding-right: $padding-lg; 
          margin-right: $margin-sm;
          
          &:hover {
            border-color: $green;
          }
        }
        .more {
          width: 27px;
          height: 27px;
          border-radius: 50%;
          padding: 0;
          text-align: center;
        }
      }
    }
    
  }
  .track {
    
    &__title {
      width: 70%;
    }
  }
}

  @media (max-width: 1200px) {
  
  .album {
    .tracks {
      .track {
        height: auto;
        padding: $padding-sm 0;
      }
    }
  }
	
}


::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb { 
	    border-radius: 4px;
			background: lighten( $light-black , 6% );
}

.section-title {
  
  text-transform: uppercase;
  color: $grey;
  letter-spacing: 1.25px;
  font-size: $x-small * 1.2;
  margin-bottom: $margin-sm;
  
}