/*---------------------------------------------*/
.artists-container > li {
  width: 360px;
  height: 60px;
  margin: 10px 10px;
  display: inline-block;
  vertical-align: top;
  /*background-color: $white;*/
  color: white;
  border: 1px solid #aaaaaa; }
  .artists-container > li > a {
    padding: 10px;
    position: relative;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .artists-container > li > a > div:nth-child(1) {
      align-self: center;
      -webkit-flex: 0 0 40px;
      -ms-flex: 0 0 40px;
      flex: 0 0 40px;
      height: 40px;
      background-color: #aaaaaa;
      border-radius: 50%;
      overflow: hidden; }
      .artists-container > li > a > div:nth-child(1) img {
        width: 100%;
        height: 100%;
        vertical-align: top; }
    .artists-container > li > a > div:nth-child(2) {
      text-align: left;
      align-self: center;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -o-flex-grow: 1;
      -ms-flex: 1;
      flex-grow: 1;
      margin: 0 10px 0 15px;
      overflow: hidden; }
      .artists-container > li > a > div:nth-child(2) p {
        margin: 0;
        /*font-family: $font_0;*/ }
