body {
  background: #181818;
  font-family: 'Roboto', sans-serif; }
  body a {
    color: #aaaaaa; }
    body a:hover {
      color: #c8c8c8; }

.artist-content {
  /*
  height: 617px;
  overflow-y: scroll;
	*/
  background: #181818;
  padding: 15px; }
  .artist-content.overview {
    display: flex;
    flex-flow: row wrap; }

@media (max-width: 768px) {
  .artist-content {
    overflow-y: auto; } }

.tracks {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px; }

.tracks__heading {
  color: #aaaaaa;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.tracks__heading__number {
  margin-left: 10px;
  font-style: italic; }

.tracks__heading__title {
  margin-left: 70px;
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 1px; }

.tracks .track.selected {
  background-color: #282828; }
  .tracks .track.selected .track__selected .icon {
    display: block; }
    .tracks .track.selected .track__selected .icon > svg {
      margin-top: 0px;
      width: 16px;
      height: 16px;
      fill: #AEAEAE; }

.tracks .track .track__selected {
  width: 36px;
  text-align: center; }
  .tracks .track .track__selected .icon {
    display: none; }

.tracks .track {
  border-top: 1px solid #282828;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.tracks .track:hover {
  background: #282828; }

.tracks .track:last-child {
  border-bottom: 1px solid #282828; }

.tracks .track__art img {
  width: 42px;
  height: 42px; }

.tracks .track__number {
  margin-left: 10px;
  color: #aaaaaa;
  width: 12px; }

.tracks .track__added {
  margin-left: 30px;
  color: #c8c8c8; }
  .tracks .track__added .added {
    color: #c8c8c8; }
  .tracks .track__added .not-added {
    color: #aaaaaa; }

.tracks .track__title {
  width: 45%;
  /*margin-left: $margin * 2;*/
  margin-left: 20px;
  color: white; }
  .tracks .track__title.featured .title:after {
    /*content: "-";*/
    margin: 0 5px; }
  .tracks .track__title.featured .feature {
    color: #aaaaaa; }
    .tracks .track__title.featured .feature:after {
      content: ",";
      margin-right: 5px; }
    .tracks .track__title.featured .feature:last-child:after {
      content: "";
      margin-right: 0; }
    .tracks .track__title.featured .feature:hover {
      cursor: pointer;
      color: #c8c8c8;
      text-decoration: underline; }

.tracks .track__explicit .label {
  border: 1px;
  border-style: solid;
  border-color: #424242;
  color: #424242;
  text-transform: uppercase; }

.tracks .track__plays {
  color: #aaaaaa;
  margin-left: auto;
  padding-right: 10px; }

.tracks .track__length {
  margin-left: auto;
  color: #aaaaaa; }

.tracks .track__popularity {
  margin-left: 46px;
  padding-right: 10px;
  font-size: 20px;
  color: #aaaaaa; }

@media (max-width: 1200px) {
  .tracks__heading__title {
    width: auto; }
  .tracks__heading__popularity {
    display: none; }
  .tracks .track__title {
    width: auto !important; }
  .tracks .track__explicit {
    display: none; }
  .tracks .track__popularity {
    display: none; } }

.overview__albums {
  width: 100%;
  margin-top: 30px; }
  .overview__albums__head {
    border-bottom: 1px solid #282828;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
  .overview__albums__head .view-type {
    color: white;
    margin-bottom: 4px; }
    .overview__albums__head .view-type .active {
      background: #282828;
      padding: 8px;
      border-radius: 50%; }
    .overview__albums__head .view-type i {
      padding: 8px;
      border-radius: 50%; }
      .overview__albums__head .view-type i:hover {
        padding: 8px;
        border-radius: 50%;
        background: #353535;
        cursor: pointer; }

.album__info {
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap; }

.album__info__art img {
  width: 135px;
  height: 135px; }

.album__info__meta {
  width: calc( 100% - 150px);
  margin-left: 15px;
  display: flex;
  flex-flow: column wrap; }

.album__info__meta .album__year {
  color: #aaaaaa;
  letter-spacing: 1px; }

.album__info__meta .album__name {
  color: white;
  font-size: 30px;
  font-weight: 100; }

.album__info__meta .album__actions {
  margin-top: auto; }
  .album__info__meta .album__actions .save {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px; }
    .album__info__meta .album__actions .save:hover {
      border-color: #1ed760; }
  .album__info__meta .album__actions .more {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    padding: 0;
    text-align: center; }

.album .track__title {
  width: 70%; }

@media (max-width: 1200px) {
  .album .tracks .track {
    height: auto;
    padding: 10px 0; } }

.section-title {
  text-transform: uppercase;
  color: #aaaaaa;
  letter-spacing: 1.25px;
  font-size: 15.6px;
  margin-bottom: 10px; }
