@import '<!--{#1}-->1-variables';

.library {
	/*
	height: 617px;
	overflow-y: scroll;
	*/
  
   	list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
	color:#fff;

	background-color: $black;
  	border-bottom: 1px solid $grey;

	>li{
	    margin: 0;
    	position: relative;
	  	border-left: 3px solid transparent;
	  /*border: 1px solid red;*/
	  
	  &:hover{
	  	background-color: $light-black;
	  }
	  >a{
		padding: 9px 55px;
		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;		
		>.icon{
		  
		    position: absolute;
			top: 8px;
			left: 20px;
		  
		  svg{
			margin-top:3px;
			width: 16px;
			height: 16px;
			fill: #AEAEAE;
		  }

		
		}
	  }
	  &.selected{
		background-color: $light-black;
		color:red;
		border-left: 3px solid red;
		
		.icon svg{
		  fill: red;
		}
	  }
	  
	}
}
.navigation__list__item{


}